@{ ViewData["Title"] = "Pixels"; }

<section>
  <h3>@ViewData["Title"]</h3>
  <a asp-action="Index">Index</a>

  <h4>Front Image</h4>
  <img src="@ViewData["FrontBinaryImage"]" alt="Binary Image - Front" />
  <pre>@ViewData["FrontBinaryData"]</pre>

  <h4>Side Image</h4>
  <img src="@ViewData["SideBinaryImage"]" alt="Binary Image - Side" />
  <pre>@ViewData["SideBinaryData"]</pre>

  <h4>Top Image</h4>
  <img src="@ViewData["TopBinaryImage"]" alt="Binary Image - Top" />
  <pre>@ViewData["TopBinaryData"]</pre>
</section>
